body{
	width: 100%;
	margin: 0 auto;
	background-color: white;
	min-width: 1000px;
}

#headcontainer{
	position: relative;
	margin: auto; 
	width: 1000px;
	height: 205px;
}

#logo{
	position: absolute;
	/*width: 700px;*/
	height: 225px;
	left: 0px;
	display: inline-block;
	
}

#socialicons{
	position: absolute;
	
	left: 900px;
	top: 15px;	
	display: inline-block;
}

#contact{
	position: absolute;
	font-size: 30px;
	font-style: bold;
	left: 265px;
	top: 115px;
}


/* Navigation Panel*/
#navpanel{
	height: 50px;
	width: 1000px;
	margin: 0 auto;
	background-color: none;
}

#nav{
	top: 0px;
	display: table;
	margin: 0 auto;	
}

ul li{	
	display: inline;
	height: 45px;
}

li.navbutton{
	border: none;
	padding-left: 100px;
	padding-right:100px;
	color: white;
	background-color: #2DB7ED;
	font-size: 25px;
	height: 45px;
	
}

/*Navigation Panel Styling*/
li.navbutton a:visited{
	color: white;
}

li.navbutton:hover{
	background-color: #0082B5;
}

/*  Services styling   */

#services{
	position: relative;
	width: 1000px;
	margin: auto;
	margin-top: 20px;
}

#intro{
	margin: 25px auto;	
}

#servbox_row_one{
	background-color: none;
	width: 1000px;
	height: 325px;
	position: absolute;


}

#servbox_row_two{
	background-color: none;
	width: 1000px;
	height: 325px;
	position: absolute;	
	margin-top: 350px;

}
.servbox{
	display: inline-block;
	width: 250px;
	height: 250px;
	background-color: #2DB7ED;
	margin: 25px;
	padding: 15px
}

.servbox_bottom{
	display: inline-block;
	width: 250px;
	height: 250px;
	background-color: #2DB7ED;
	margin: 25px;
	padding: 15px;
}